@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", "sans-serif";
}
@layer base {
  * {
    @apply duration-200;
  }
  body {
    @apply font-roboto relative;
  }
  input {
    @apply outline-none border-none bg-slate-200 px-4 py-2 rounded-xl;
  }
}

@layer components {
  .bgGrid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, oklch(82.8% 0.189 84.429) 1px, transparent 1px),
      linear-gradient(to bottom, oklch(82.8% 0.189 84.429) 1px, transparent 1px);
  }
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold") format("ttf");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular") format("ttf");
  font-weight: 400;
  font-style: regular;
}
