* {
	box-sizing: border-box;
}
.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-auto-flow: dense;
	grid-auto-rows: 100px;
	gap: 2px;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container div {
	overflow: hidden;
	border-radius: 5px;
}

.hor {
	grid-column: auto/span 2;
}
.ver {
	grid-row: auto/span 2;
}
.big {
	grid-column: auto/span 2;
	grid-row: auto/span 2;
}
